# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
dist
build
.turbo
.next
out

# Cache
.cache
.parcel-cache
.vite

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Generated
coverage
.nyc_output